/*-----------Landing----------------------*/

.landing-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.landing-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */

.landing-container::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */

.landing-container::-webkit-scrollbar-thumb {
  background: #f8b500;
}

/* Handle on hover */

.landing-container::-webkit-scrollbar-thumb:hover {
  background: #f8b500;
}

.landing-first {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to bottom right, #f8b500 70%, #393e46 30%);
}

.landing-left {
  width: 60%;
  height: 100vh;
  align-items: center;
  display: flex;
}

.landing-right {
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.landing-carousel {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background-color: #393e46;
  background-image: linear-gradient(to bottom right, #393e46 70%, #f8b500 30%);
}

.test {
  width: 20rem;
  height: 20rem;
  border: 5px solid #f8b500;
  background-color: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6), -2px -2px 2px rgba(0, 0, 0, 0.8), inset 2px 2px 2px rgba(0, 0, 0, 0.3), inset -2px -2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.test-inner {
  width: 15rem;
  height: 20rem;
  margin-top: -5px;
  margin-bottom: -5px;
  background-color: #393e46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.landing-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  display: flex;
  background-color: #393e46;
  color:#f8b500;
  align-items: center;
  padding: 0 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 0.2rem;
  cursor: pointer;
}

.test-outer {
  width: 20rem;
  height: 15rem;
  background-color: #393e46;
  margin-right: -5px;
  margin-left: -5px;
  position: absolute;
  left: 0;
}

.test-inner input {
  margin: 0.8rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  border: none;
  color: #393e46;
}

.test button {
  background-color: #f8b500;
  color: #393e46;
  margin-top: 0.8rem;
  padding: 0.3rem 0.8rem;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
}

.landing-logo {
  /* height: 30vh; */
  width: 50vw;
  margin-left: 2rem;
}

.landing-name {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  font-weight: bold;
  margin: 1rem 2rem;
}

.landing-left p {
  margin-left: 2rem;
  color: #393e46;
  text-align: justify;
  font-weight: bold;
}

.aboutus-container{
  width:100%;
  background-color: #f8b500;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
 justify-content: space-between;
}

.aboutus{
  margin: 0 4rem;
  background-color: #393e46;
  padding:0.5rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  
}

.team-card {
  all: unset;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0.5rem;
  padding:0 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  color:#393e46;
  cursor: pointer;
  font-size: 0.9rem;
}

.team-card:hover{
  text-decoration: none;
  color: #f8b500;
}

.team-card img {
  width: 4rem;
  border-radius: 50%;
}

@media only screen and (max-width: 600px){
  .landing-container{
    background-color: #393e46;
  }

  .landing-first {
    width: 100%;
    height:200vh;
    display: flex;
    flex-direction: column;
    background-color: #393e46;
    background-image: none;
  }
  
  .landing-left {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8b500;
  }
  
  .landing-right {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(to bottom right, #f8b500 70%, #393e46 30%);
  }
  
  .landing-toggle {
    position: absolute;
    top: 85vh;
    right: 0;
    margin: 1rem;
    display: flex;
    color: #393e46;
    background-color:white;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 0.2rem;
    cursor: pointer;
  }
  
  .landing-logo {
    width: 30vw;
    margin-left: 2rem;
  }
  
  .landing-name {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    font-weight: bold;
    margin: 1rem 2rem;
  }
  
  .landing-left p {
    width: 80vw;
    margin-left: 0;
    color: #393e46;
    text-align: justify;
    font-weight: bold;
  }
  
  .aboutus-container{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .aboutus{
    width:80%;
    margin: 0.5rem 2rem;
  }
  
  .team-card {
    font-size: 0.8rem;
  }
  
  .team-card img {
    width: 3rem;
    margin-right: 0.5rem;    
  }
} 

/*-----------Dashboard----------------------*/

.overlay {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: #393e46;
}

.first-col {
  width: 30%;
  height: 100%;
}

.second-col {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.second-col-top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.profile {
  display: flex;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.profile img {
  width: 4rem;
  height: 4rem;
  border: 5px solid #393e46;
  border-radius: 50%;
  cursor: pointer;
}

.profile-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.5rem;
}

.profile-name span {
  color: white;
  text-align: right;
}

.logo {
  color: #f8b500;
  margin-left: 30%;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.field-names {
  font-family: 'Pacifico', cursive;
  margin-left: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.second-col-bottom {
  width: 100%;
  display: flex;
  height: 80%;
}

.second-col-bottom-stack {
  width: 42%;
  height: 100%;
}

.second-col-bottom-options {
  width: 14%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.second-col-bottom-buttons {
  all: unset;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: large;
}

.second-col-bottom-buttonactive {
  all: unset;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  color: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: large;
  border: 3px solid #393e46;
  border-bottom: 3px solid #f8b500;
}

.button1 {
  border: 3px solid #f7f7f7;
  border-bottom: 3px solid #b45dfc;
}

.button2 {
  border: 3px solid #f7f7f7;
  border-bottom: 3px solid #f8b500;
}

.button3 {
  border: 3px solid #f7f7f7;
  border-bottom: 3px solid #e84a5f;
}

/* ----------------opportunity tab --------------*/

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

.filters select {
  all: unset;
  width: 40%;
  height: 2.2rem;
  background-color: #2f3640;
  color: #f7f7f7;
  cursor: pointer;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

option {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.searchBox {
  /* margin: 10px; */
  background: #2f3640;
  height: 2.5rem;
  width: 40%;
  border-radius: 2rem;
  padding: 5px;
  display: flex;
  align-items: center;
}

.searchInput {
  all: unset;
  padding: 0;
  color: white;
  font-size: 12px;
  width: 0px;
}

.searchBox:hover>.searchInput {
  transition: 0.4s width ease-in-out;
  padding: 0 4px;
  width: 70%;
}

.searchInput:focus {
  transition: 0.4s width ease-in-out;
  padding: 0 4px;
  width: 70%;
}

.searchBox:hover>.searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.opstack-container {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #393e46;
  /* color: #e2dfea; */
  /* color: #f5f3f8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 0 1rem;
  border: 5px solid grey;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.optab-container {
  width: 95%;
  height: 5rem;
  background-color: #b45dfc;
  color: #f5f3f8;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.optab {
  width: 90%;
  padding: 0.5rem;
  height: 5rem;
  font-size: 0.8rem;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.optab-first {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.optab-first small {
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.optab-name {
  width: 70%;
  overflow: hidden;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.optab-addtodo {
  display: none;
}

.optab-container:hover>.optab-addtodo {
  display: block;
  width: 15%;
  height: 100%;
}

.optab-addtodo button {
  all: unset;
  height: 100%;
  width: 100%;
  background-color: #f5f3f8;
  color: #b45dfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.opstack-container::-webkit-scrollbar {
  width: 3px;
}

/* Track */

.opstack-container::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */

.opstack-container::-webkit-scrollbar-thumb {
  background: #b45dfc;
}

/* Handle on hover */

.opstack-container::-webkit-scrollbar-thumb:hover {
  background: #b45dfc;
}

/* ----------------Applied tab --------------*/

.appliedstack-container {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 89%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #393e46;
  /* color: #e2dfea; */
  /* color: #f5f3f8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  border: 5px solid grey;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.appliedtab-container {
  width: 95%;
  height: 5rem;
  background-color: #f8b500;
  /* color: #f5f3f8; */
  color: #f7f7f7;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.appliedtab {
  width: 90%;
  padding: 0.5rem;
  height: 5rem;
  font-size: 0.8rem;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.appliedtab-first {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.appliedtab-first small {
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.appliedtab-name {
  width: 70%;
  overflow: hidden;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.appliedtab-addtodo {
  display: none;
}

.appliedtab-container:hover>.appliedtab-addtodo {
  display: block;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.appliedtab-addtodo button {
  all: unset;
  height: 100%;
  width: 100%;
  background-color: #f5f3f8;
  color: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.appliedstack-container::-webkit-scrollbar {
  width: 3px;
}

/* Track */

.appliedstack-container::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */

.appliedstack-container::-webkit-scrollbar-thumb {
  background: #f8b500;
}

/* Handle on hover */

.appliedstack-container::-webkit-scrollbar-thumb:hover {
  background: #f8b500;
}

/* ----------------Todo tab --------------*/

.todostack-container {
  width: 90%;
  height: 89%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #393e46;
  /* color: #e2dfea; */
  /* color: #f5f3f8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  border: 5px solid grey;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.todotab-container {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 95%;
  height: 5rem;
  background-color: #e84a5f;
  /* color: #f5f3f8; */
  color: #f7f7f7;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.todotab {
  width: 90%;
  padding: 0.5rem;
  background-color: #e84a5f;
  height: 5rem;
  font-size: 0.8rem;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.todotab-first {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.todotab-first small {
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todotab-name {
  width: 70%;
  overflow: hidden;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todotab-addtodo {
  display: none;
}

.todotab-container:hover>.todotab-addtodo {
  display: block;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.delete-tab {
  cursor: pointer;
  text-shadow: 2px 2px 2px #393e46;
  margin: 0.2rem;
  margin-right: 0.4rem;
}

.todotab-addtodo button {
  all: unset;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  background-color: #f5f3f8;
  color: #393e46;
  box-shadow: 2px 2px 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  margin-bottom: 0.4rem;
}

.todostack-container::-webkit-scrollbar {
  width: 3px;
}

/* Track */

.todostack-container::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */

.todostack-container::-webkit-scrollbar-thumb {
  background: #e84a5f;
}

/* Handle on hover */

.todostack-container::-webkit-scrollbar-thumb:hover {
  background: #e84a5f;
}

/* ----------------Todo tab --------------*/

.expiredstack-container {
  width: 90%;
  height: 81%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #393e46;
  /* color: #e2dfea; */
  /* color: #f5f3f8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  border: 5px solid grey;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.expiredtab-container {
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */
  width: 95%;
  height: 5rem;
  background-color: #f7f7f7;
  /* color: #f5f3f8; */
  color: #393e46;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.expiredtab {
  width: 90%;
  padding: 0.5rem;
  height: 5rem;
  font-size: 0.8rem;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.expiredtab-first {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.expiredtab-first small {
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expiredtab-name {
  width: 70%;
  overflow: hidden;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expiredtab-addtodo {
  display: none;
}

.expiredtab-container:hover>.expiredtab-addtodo {
  display: block;
  width: 15%;
  height: 100%;
}

.expiredtab-addtodo button {
  all: unset;
  height: 100%;
  width: 100%;
  background-color: #f5f3f8;
  color: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.expiredstack-container::-webkit-scrollbar {
  width: 3px;
}

/* Track */

.expiredstack-container::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */

.expiredstack-container::-webkit-scrollbar-thumb {
  background: #f7f7f7;
}

/* Handle on hover */

.expiredstack-container::-webkit-scrollbar-thumb:hover {
  background: #f7f7f7;
}

/* ---------------- Modal --------------*/

.dashboard-modal-off {
  position: absolute;
  top: 0;
  width: 80%;
  margin-top: 0;
  margin-left: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  color: white;
  /* transition: height 0.5s ease-in-out opacity 5s; */
}

.dashboard-modal-on {
  position: absolute;
  top: 0;
  width: 80%;
  margin-top: 10vh;
  height: 80vh;
  margin-left: 10%;
  visibility: visible;
  background-color: #393e46;
  color: white;
  transition: opacity 0.5s;
  opacity: 1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 0.2rem;
  display: flex;
}

.modal-close {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal-submit {
  all: unset;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: justify;
}

.modal-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-evenly;
}

.modal-right img {
  width: 70%;
  height: 50%;
  object-fit: contain;
}

.modal-type-container {
  display: flex;
  max-width: 100%;
}

.modal-type {
  padding: 0.2rem;
  width: auto;
  margin: 3px;
  font-size: 12px;
  border-radius: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.3);
}

.type0 {
  background-color: #e84a5f;
}

.type1 {
  background-color: #f8b500;
}

.type2 {
  background-color: #b45dfc;
}

.dashboard-modal-on input, .dashboard-modal-on textarea, .dashboard-modal-on select {
  width: 70%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none
}

.modal-row {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 5px;
}

/*----Bell animation---*/

.bell {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin: 0.2rem;
  color: #f8b500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }
  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }
  1% {
    -moz-transform: rotate(30deg);
  }
  3% {
    -moz-transform: rotate(-28deg);
  }
  5% {
    -moz-transform: rotate(34deg);
  }
  7% {
    -moz-transform: rotate(-32deg);
  }
  9% {
    -moz-transform: rotate(30deg);
  }
  11% {
    -moz-transform: rotate(-28deg);
  }
  13% {
    -moz-transform: rotate(26deg);
  }
  15% {
    -moz-transform: rotate(-24deg);
  }
  17% {
    -moz-transform: rotate(22deg);
  }
  19% {
    -moz-transform: rotate(-20deg);
  }
  21% {
    -moz-transform: rotate(18deg);
  }
  23% {
    -moz-transform: rotate(-16deg);
  }
  25% {
    -moz-transform: rotate(14deg);
  }
  27% {
    -moz-transform: rotate(-12deg);
  }
  29% {
    -moz-transform: rotate(10deg);
  }
  31% {
    -moz-transform: rotate(-8deg);
  }
  33% {
    -moz-transform: rotate(6deg);
  }
  35% {
    -moz-transform: rotate(-4deg);
  }
  37% {
    -moz-transform: rotate(2deg);
  }
  39% {
    -moz-transform: rotate(-1deg);
  }
  41% {
    -moz-transform: rotate(1deg);
  }
  43% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}